:root {
  --background-color: #1c3144;
  --text-color: #ffba49;
  --input-color: #2d4f6c;
  --button-hover-color: #ffba49;
}
*/ html {
  font-size: 10px;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  height: 100%;
  overflow-x: hidden;
}

p,
small {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 3.5rem;
  text-align: center;
  color: var(--text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow added */
}

.subtitle {
  font-size: 2.5rem;
  text-align: center;
  color: var(--text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow added */
}

.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.input {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  line-height: 1.8rem;
  border-radius: 20px;
  border: 3px solid var(--text-color);
  margin-bottom: 1rem;
  background: var(--input-color);
  color: var(--text-color);
}

.input:focus {
  outline: none;
  border: 3px solid var(--text-color);
  box-shadow: 0 0 10px var(--text-color);
}

.button {
  background-color: transparent;
  color: var(--text-color);
  padding: 1rem 2rem;
  border: 1px solid var(--text-color);
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 250ms ease-out;
}

.button:hover {
  background-color: var(--button-hover-color);
  color: var(--input-color);
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--button-hover-color);
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }
}

.card-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Two column grid */
  grid-gap: 1.5rem;
}

.card {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--input-color);
  color: var(--text-color);
  transition: transform 250ms ease-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}

.card--image {
  margin: 0 auto;
  display: block;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
